<div class="tabs-container">
  <div class="tabs-area">
    <div
      class="side-panel-tab"
      routerLink="/admin-home"
      routerLinkActive="active"
      (click)="selectTab(1)"
    >
      Home
    </div>
    @if (this.user_type === 'super_admin') {
      <div
        class="side-panel-tab side-panel-tab-long"
        routerLink="/admin-organizations"
        routerLinkActive="active"
        (click)="selectTab(2)"
      >
        Organizations
      </div>
    }
    @if (getPermissionView(251)) {
      <div
        class="side-panel-tab"
        routerLink="/admin-users-list"
        routerLinkActive="active"
        (click)="selectTab(3)"
      >
        Users
      </div>
    }
    @if (getPermissionView(252)) {
      <div
        class="side-panel-tab"
        routerLink="/admin-roles-list"
        routerLinkActive="active"
        (click)="selectTab(4)"
      >
        Roles
      </div>
    }
    @if (getPermissionView(253)) {
      <div
        class="side-panel-tab"
        routerLink="/admin-layers-list"
        routerLinkActive="active"
        (click)="selectTab(5)"
      >
        Layers
      </div>
    }
    <!-- <div
    class="side-panel-tab side-panel-tab-long"
    [class.active]="activeTab === 6"
    (click)="openProAlert()"
    >
    Activity Log
  </div> -->
  </div>
</div>
