<div class="material-header">
  <div class="header-content">
    <h2 class="header-title">{{ popup_action }} Role</h2>
    <!-- <button class="close-btn">
        <mat-icon>close</mat-icon> 
      </button> -->
  </div>
</div>

<mat-dialog-content>
  <mat-card class="custom-card">
    <mat-card-content>
      <div class="keyValueList">
        <div class="show_all_inputs">
          <div class="keyValueWrapper" *ngIf="userType === 'super_admin'">
            <div class="keyValueWrapper__keyValue">
              <div class="keyValue__key">Role Type</div>
              <select class="keyValue__value" [(ngModel)]="role_type">
                <option [value]="'admin'">Admin</option>
                <option [value]="'user'">User</option>
              </select>
            </div>
          </div>
          <div class="keyValueWrapper">
            <div class="keyValueWrapper__keyValue">
              <div class="keyValue__key">Role</div>
              <input type="text" class="keyValue__value" [(ngModel)]="role_name" />
            </div>
          </div>
          <div class="keyValueWrapper">
            <div class="keyValueWrapper__keyValue">
              <div class="keyValue__key">Remarks</div>
              <textarea
                class="keyValue__value keyValue__textarea"
                [(ngModel)]="role_remark"
                maxlength="250"
                rows="4"
              >
              </textarea>
              <div class="char-count" *ngIf="role_remark">{{ role_remark.length || 0 }} / 250</div>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <!-- *ngIf="civilian_data__array.length != 0" -->
  <div class="container">
    &nbsp;
    <button
      mat-icon-button
      matSuffix
      (click)="closeDialog()"
      class="primary-custom-sm-btn"
      aria-label="Close dialog"
    >
      <mat-icon>close</mat-icon> Close
    </button>
    &nbsp;&nbsp;&nbsp;
    <button mat-icon-button matSuffix (click)="SubmitAll()" class="primary-custom-sm-btn">
      <mat-icon>save</mat-icon> Save
    </button>
  </div>
</mat-dialog-actions>
