<mat-dialog-content class="mat-typography about-dialog-content">
  <div class="about-main-content">
    <div class="about-desc-block">
      <h3 class="about-title">What is Infobhoomi?</h3>
      <p>
        Infobhoomi is dedicated to providing advanced GIS solutions and mapping software for Sri
        Lankan businesses and government agencies.<br />
        For technical inquiries or support, please contact us using the details above.
      </p>
    </div>
    <div class="about-contact-block">
      <h3 class="about-title">Infobhoomi Contact Information</h3>
      <div class="about-info-row"><strong>Name:</strong> Dr. Eng. NMP Milinda Piyasena</div>
      <div class="about-info-row">
        <strong>Address:</strong> No. 450, Bandaranayake Mw, Kebillawela North, Bandarawela. 90100
      </div>
      <div class="about-info-row">
        <strong>Tech Support:</strong>
        <a href="mailto:info@geoinfobox.com" class="about-link"> info&#64;geoinfobox.com</a>
        <span> , </span>
        <a href="mailto:geoinfobox@sab.ac.lk" class="about-link"> geoinfobox&#64;sab.ac.lk</a>
      </div>
      <div class="about-info-row"><strong>Phone:</strong> +94714420514</div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close style="color: #d32f2f">Close</button>
</mat-dialog-actions>
