<div class="header">
  <h2 mat-dialog-title>Change Password</h2>
  <button mat-button mat-dialog-close><mat-icon class="close-button">close</mat-icon></button>
</div>

<div class="content">
  <mat-dialog-content>
    <form action="" class="form-content">
      <div class="sub-form-content">
        <div class="row">
          <div class="inputfield_1 position-relative">
            <label for="old-password" class="form_txt">Old Password</label>
            <input
              [type]="passwordVisible ? 'text' : 'password'"
              id="old-password"
              name="old-password"
              [(ngModel)]="Obj.old_password"
              class="input"
              required
            />
            <span
              class="toggle-password"
              (click)="togglePasswordVisibility()"
              [title]="passwordVisible ? 'Hide password' : 'Show password'"
            >
              <mat-icon *ngIf="passwordVisible">visibility_off</mat-icon>
              <mat-icon *ngIf="!passwordVisible">visibility</mat-icon>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="inputfield_2 position-relative">
            <label for="new-password" class="form_txt">New Password:</label>
            <input
              [type]="newPasswordVisible ? 'text' : 'password'"
              id="new-password"
              name="new-password"
              [(ngModel)]="Obj.new_password"
              class="input"
              required
            />
            <span
              class="toggle-password"
              (click)="toggleNewPasswordVisibility()"
              [title]="newPasswordVisible ? 'Hide password' : 'Show password'"
            >
              <mat-icon *ngIf="newPasswordVisible">visibility_off</mat-icon>
              <mat-icon *ngIf="!newPasswordVisible">visibility</mat-icon>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="inputfield_3 position-relative">
            <label for="confirm-password" class="form_txt">Confirm New Password:</label>
            <input
              [type]="confirmNewPasswordVisible ? 'text' : 'password'"
              id="confirm-password"
              name="confirm-password"
              [(ngModel)]="Obj.confirm_new_password"
              class="input"
              required
            />
            <span
              class="toggle-password"
              (click)="toggleConfirmNewPasswordVisibility()"
              [title]="confirmNewPasswordVisible ? 'Hide password' : 'Show password'"
            >
              <mat-icon *ngIf="confirmNewPasswordVisible">visibility_off</mat-icon>
              <mat-icon *ngIf="!confirmNewPasswordVisible">visibility</mat-icon>
            </span>
          </div>
        </div>
      </div>
    </form>
  </mat-dialog-content>
</div>

<mat-dialog-actions>
  <button mat-button mat-dialog-close class="cancel-button">Cancel</button>
  <button mat-button (click)="onClick()">Change</button>
  <div
    *ngIf="isLoading"
    style="padding-left: 5px; padding-right: 5px; color: blue; font-size: 12px"
  ></div>
  <mat-spinner *ngIf="isLoading" diameter="20" class="loading-spinner"></mat-spinner>
</mat-dialog-actions>
