<h4 mat-dialog-title>Print Map</h4>

<mat-dialog-content>
  <div class="input-fields">
    <div class="text-input-field">
      <label class="text-input-label">Title:</label>
      <input
        title="map title"
        type="text"
        class="text-input"
        placeholder="Map title..."
        [(ngModel)]="dataSetName"
      />
    </div>

    <div class="dropdown">
      <label class="dropdown-label" for="scale">Scale</label>
      <select title="dropdown" id="scale" class="dropdown-select" [(ngModel)]="selectedScale">
        <option *ngFor="let scale of scales" [value]="scale">
          {{ scale }}
        </option>
      </select>
    </div>

    <div class="dropdown">
      <label class="dropdown-label" for="layout">Layout</label>
      <select title="dropdown" id="layout" class="dropdown-select" [(ngModel)]="selectedLayout">
        <option *ngFor="let layout of layouts" [value]="layout">
          {{ layout }}
        </option>
      </select>
    </div>

    <div class="dropdown">
      <label class="dropdown-label" for="orientation">Orientation</label>
      <select
        title="dropdown"
        id="orientation"
        class="dropdown-select"
        [(ngModel)]="selectedOrientation"
      >
        <option *ngFor="let orientation of orientations" [value]="orientation">
          {{ orientation }}
        </option>
      </select>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <app-custom-buttons
    buttonText="Close"
    buttonIcon="cancel"
    buttonStyle="secondary"
    mat-dialog-close
  ></app-custom-buttons>

  <app-custom-buttons
    [buttonText]="isPrinting ? 'Capturing…' : 'Print Map'"
    buttonIcon="print"
    buttonStyle="primary"
    (buttonClick)="printMap()"
  ></app-custom-buttons>
</mat-dialog-actions>
