<!-- Verifying authentication and get user details -->
<app-user-authenticator></app-user-authenticator>

<div class="header-container">
  <app-admin-header></app-admin-header>
</div>

<div class="admin-main-body">
  <!-- Sidebar -->
  <div class="side-panel-container">
    <app-admin-side-bar></app-admin-side-bar>
  </div>

  <!-- Tab Container with Card -->
  <div class="tab-container">
    <div class="card shadow-sm">
      <div class="card-body">
        <div class="card shadow-sm">
          <div class="card-header background-primary text-white d-flex align-items-center">
            <button mat-icon-button class="custom-back-button" (click)="goBack()">
              <mat-icon>arrow_back</mat-icon></button
            >&nbsp;&nbsp; &nbsp;
            <h6 class="mb-0 main-title">
              {{
                userType === 'super_admin'
                  ? 'Create Admin Account'
                  : userType === 'admin'
                    ? 'Create User Account'
                    : 'Create User Account'
              }}
            </h6>
          </div>

          <div class="card">
            <div class="card-body">
              <div
                class="alert d-flex align-items-center mb-3 alert-info"
                role="alert"
                style="font-size: 15px; gap: 8px"
                *ngIf="userType === 'super_admin'"
              >
                <mat-icon style="font-size: 21px" [style.color]="'#31708f'"> info </mat-icon>

                <span style="font-weight: 600"> This form creates Admin accounts only. </span>
              </div>

              <form [formGroup]="userForm" class="w-100 px-4">
                <div class="row">
                  <!-- Username -->
                  <div class="form-group mb-3 col-md-6">
                    <label for="username">Username</label>
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      id="username"
                      placeholder="Enter Username"
                      formControlName="username"
                      required
                    />
                  </div>

                  <!-- Email -->
                  <div class="form-group mb-3 col-md-6">
                    <label for="email">Email</label>
                    <input
                      type="email"
                      class="form-control form-control-sm"
                      id="email"
                      placeholder="Enter Email"
                      formControlName="email"
                      required
                      (input)="formatEmail()"
                    />
                    <div
                      *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched"
                      class="text-danger"
                    >
                      <small *ngIf="userForm.get('email')?.errors?.['email']"
                        >Incorrect email format.</small
                      >
                    </div>
                  </div>

                  <!-- First Name -->
                  <div class="form-group mb-3 col-md-6">
                    <label for="firstName">First Name</label>
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      id="firstName"
                      placeholder="Enter First Name"
                      formControlName="first_name"
                      required
                    />
                  </div>

                  <!-- Last Name -->
                  <div class="form-group mb-3 col-md-6">
                    <label for="lastName">Last Name</label>
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      id="lastName"
                      placeholder="Enter Last Name"
                      formControlName="last_name"
                      required
                    />
                  </div>

                  <!-- Mobile -->
                  <div class="form-group mb-3 col-md-6">
                    <label for="mobile">Mobile</label>
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      id="mobile"
                      placeholder="Enter Mobile"
                      formControlName="mobile"
                      required
                    />
                    <div
                      *ngIf="
                        userForm.get('mobile')?.invalid &&
                        (userForm.get('mobile')?.dirty || userForm.get('mobile')?.touched)
                      "
                      class="text-danger"
                    >
                      <small *ngIf="userForm.get('mobile')?.errors?.['pattern']">
                        Enter a valid 10-digit mobile number starting with 0.
                      </small>
                      <small *ngIf="userForm.get('mobile')?.errors?.['required']">
                        Mobile number is required.
                      </small>
                    </div>
                  </div>

                  <!-- Address -->
                  <div class="form-group mb-3 col-md-6">
                    <label for="address">Address</label>
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      id="address"
                      placeholder="Enter Address"
                      formControlName="address"
                      required
                    />
                  </div>

                  <!-- NIC -->
                  <div class="form-group mb-3 col-md-6">
                    <label for="nic">NIC</label>
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      id="nic"
                      placeholder="Enter NIC"
                      formControlName="nic"
                      maxlength="12"
                      required
                    />
                    <div
                      *ngIf="userForm.get('nic')?.invalid && userForm.get('nic')?.touched"
                      class="text-danger"
                    >
                      <small *ngIf="userForm.get('nic')?.errors?.['pattern']"
                        >NIC must be 12 digits or 9 digits followed by 'V' or 'X'.</small
                      >
                    </div>
                  </div>

                  <!-- Birthday -->
                  <div class="form-group mb-3 col-md-6">
                    <label for="birthday">Birthday</label>
                    <input
                      type="date"
                      class="form-control form-control-sm"
                      id="birthday"
                      placeholder="Enter Birthday"
                      formControlName="birthday"
                      required
                    />
                  </div>

                  <!-- Sex -->
                  <div class="form-group mb-3 col-md-6">
                    <label for="sex">Sex</label>
                    <select
                      class="form-control form-control-sm"
                      id="sex"
                      formControlName="sex"
                      required
                    >
                      <option value="male">Male</option>
                      <option value="female">Female</option>
                    </select>
                  </div>

                  <!-- Department -->
                  <div class="form-group mb-3 col-md-6">
                    <label for="department">Department</label>
                    <select
                      class="form-control form-control-sm"
                      type="text"
                      id="department"
                      formControlName="dep_id"
                      required
                    >
                      <option value="" disabled selected>Select Department</option>
                      <option
                        *ngFor="let department of departments_list"
                        [value]="department.dep_id"
                      >
                        {{ department.dep_name }}
                      </option>
                    </select>
                  </div>

                  <!-- Post -->
                  <div class="form-group mb-3 col-md-6">
                    <label for="post">Position</label>
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      id="post"
                      placeholder="Enter Post"
                      formControlName="post"
                      required
                    />
                  </div>

                  <div class="form-group mb-3 col-md-6">
                    <label for="emp_id">Employee ID</label>
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      id="emp_id"
                      placeholder="Enter Employee ID"
                      formControlName="emp_id"
                      required
                    />
                  </div>

                  <span class="default-pw-text">Default password : {{ default_pw }} </span>

                  <div class="form-group d-flex justify-content-end">
                    <button
                      mat-icon-button
                      matSuffix
                      (click)="createNewUser()"
                      class="primary-bg-btn"
                      [disabled]="userForm.invalid"
                    >
                      <mat-icon>save</mat-icon> Save
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
