<!-- <div class="header">
  <h2 mat-dialog-title>Create New Layer</h2>
  <button mat-button mat-dialog-close><mat-icon class="close-button">close</mat-icon></button>
</div> -->
<div class="material-header">
  <div class="header-content">
    <h2 class="header-title">Create New Layer</h2>
    <!-- <button class="close-btn">
      <mat-icon>close</mat-icon>
    </button> -->
  </div>
</div>

<mat-dialog-content>
  <mat-card class="custom-card">
    <mat-card-content>
      <div class="keyValueList">
        <div class="show_all_inputs">
          <div class="keyValueWrapper">
            <div class="keyValueWrapper__keyValue">
              <div class="keyValue__key">Layer Name</div>
              <input
                type="text"
                id="layer_name"
                name="layer_name"
                required
                [(ngModel)]="layerObj.layer_name"
                class="keyValue__value"
              />
            </div>
          </div>
          <div class="keyValueWrapper">
            <div class="keyValueWrapper__keyValue">
              <div class="keyValue__key">Color</div>
              <input type="color" class="keyValue__value" [(ngModel)]="layerObj.colour" />
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="onClick()">Add</button>
  <div
    *ngIf="isLoading"
    style="padding-left: 5px; padding-right: 5px; color: blue; font-size: 12px"
  ></div>
  <mat-spinner *ngIf="isLoading" diameter="20" class="loading-spinner"></mat-spinner>
</mat-dialog-actions>
